name: Push Release Notes to Beamer

on:
  workflow_dispatch

jobs:
  push-release-notes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get Latest Release
        id: get_latest_release
        run: |
          release_json=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                        "https://api.github.com/repos/${{ github.repository }}/releases/latest")
          tag_name=$(echo "$release_json" | jq -r '.tag_name')
          description=$(echo "$release_json" | jq -r '.body' | sed ':a;N;$!ba;s/\n/\\n/g')
          echo "::set-output name=tag_name::$tag_name"
          echo "::set-output name=description::$description"

      - name: Print result
        run: |
          echo "tag_name: ${{ steps.get_latest_release.outputs.tag_name }}"
          echo "description: ${{ steps.get_latest_release.outputs.description }}"
