name: Push Release Notes to Beamer

on:
  workflow_dispatch

jobs:
  push-release-notes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: "Call action"
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ secrets.MY_TOKEN }}
          exclude_types: "draft|prerelease"
          view_top: 1
      
      - name: "Print result"
        run: |
          echo "tag_name: ${{ steps.last_release.outputs.tag_name }}"
          echo "notes: ${{ steps.last_release.outputs.body }}"
          echo "${{ toJson(steps.last_release) }}"
