name: Push Release Notes to Discord

on:
  workflow_dispatch

jobs:
  push-release-notes:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get Latest Release
        id: get_latest_release
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install requests
          python3 - <<EOF
          import os
          import requests
          import json
          
          github_token = os.getenv('MY_TOKEN')
          repo_owner = 'solankirishav21'
          repo_name = 'published_test'
          headers = {'Authorization': f'Bearer {github_token}'}
          url = f'https://api.github.com/repos/{repo_owner}/{repo_name}/releases/latest'
          response = requests.get(url, headers=headers)
          data = response.json()

          print("Response JSON:")
          print(json.dumps(data, indent=2))

          tag_name = data.get('tag_name')
          description = data.get('body')
          description_lines = description.split('\n') if description else []

          print("Tag Name:")
          print(tag_name)
          print("\nDescription:")
          print('\n'.join(description_lines))
          EOF
