name: Discord Release Notification
on:
  workflow_dispatch:

jobs:
  notify_discord:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get Latest Release
        id: get_latest_release
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install requests
          python3 - <<EOF
          import os
          import requests
          
          github_token = os.getenv('GITHUB_TOKEN')
          repo_owner = 'solankirishav21'
          repo_name = 'published_test'
          headers = {'Authorization': f'Bearer {github_token}'}
          url = f'https://api.github.com/repos/{repo_owner}/{repo_name}/releases/latest'
          response = requests.get(url, headers=headers)
          data = response.json()

          tag = data.get('tag_name')
          description = data.get('body')
          description_lines = description.split('\n') if description else []
          description_lines = [line.strip() for line in description_lines if line.strip()]

          release_notes = ''
          if description_lines:
              first_line = description_lines[0].lstrip('#').strip()
              release_notes += f'**{first_line}**'
              for line in description_lines[1:-1]:  # Exclude the last line
                  if 'by' in line:
                      line = line.split('by', 1)[0].strip()
                      line += '.'
                  release_notes += f' {line}'
          print(f"::set-output name=tag::{tag}")
          print(f"::set-output name=release_notes::{release_notes}")
          EOF
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Print Tag Name and Description
        run: |
          echo "Tag Name: ${{ steps.get_latest_release.outputs.tag }}"
          release_notes="${{ steps.get_latest_release.outputs.release_notes }}"
          formatted_release_notes=$(echo "${release_notes}" | sed -e 's/\./.\n/g')
          echo "Description:"
          echo "${formatted_release_notes}"
      - name: Send release message to Discord
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}
          job: Discord Release Notification
          title: "Release ${{ steps.get_latest_release.outputs.tag  }}"
          description: ${{(echo "${steps.get_latest_release.outputs.release_notes}" | sed -e 's/\./.\n/g')}}
          nofail: true
          nocontext: false
          noprefix: true
          nodetail: false
          notimestamp: false
          url: "https://github.com/solankirishav21/published_test/releases"
