name: Send Release Details to Discord

on:
  push:
    branches:
      - main

jobs:
  send_release_details:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: npm install

      - name: Get Latest Release
        id: get_latest_release
        run: |
          RELEASE_TAG=$(git describe --abbrev=0 --tags)
          RELEASE_DESCRIPTION=$(git log --pretty=format:'- %s' $(git describe --abbrev=0 --tags)^..HEAD)

          echo "::set-output name=tag_name::$RELEASE_TAG"
          echo "::set-output name=description_lines::$RELEASE_DESCRIPTION"

      - name: Send Release Details to Discord
        env:
          DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
          DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          RELEASE_TAG: ${{ steps.get_latest_release.outputs.tag_name }}
          RELEASE_DESCRIPTION: |
            ${{ join(steps.get_latest_release.outputs.description_lines, '\n') }}
        run: |
          RELEASE_TAG="${RELEASE_TAG}"
          RELEASE_DESCRIPTION="${RELEASE_DESCRIPTION}"
          PAYLOAD="{\"content\":\"solankirishav21/published_test | Release \`$RELEASE_TAG\`\\n\`$RELEASE_TAG\`\\n\`\`\`json\n$RELEASE_DESCRIPTION\n\`\`\`\"}"
          curl -X POST -H "Content-Type: application/json" -d "$PAYLOAD" "https://discord.com/api/webhooks/$DISCORD_WEBHOOK_ID/$DISCORD_WEBHOOK_TOKEN"
``
