name: Discord Release Notification
on:
  workflow_dispatch:

jobs:
  notify_discord:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get latest release
        id: latest_release
        run: |
          echo "::set-env name=GH_TOKEN::${{ secrets.GITHUB_TOKEN }}"
          release=$(curl -s -H "Authorization: token $GH_TOKEN" "https://api.github.com/repos/OWNER/REPO/releases/latest")
          tag=$(echo "$release" | jq -r '.tag_name')
          description=$(echo "$release" | jq -r '.body')

      - name: Send release message to Discord
        uses: appleboy/discord-action@master
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          message: >
            "New release: ${{ steps.latest_release.outputs.tag }}

            Release notes:
            ${{ steps.latest_release.outputs.description }}"
