name: Release messages to Discord announcement channel

on:
  workflow_dispatch

jobs:
  run_main:
    runs-on: ubuntu-latest
    name: Sends custom message
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install discord.js

      - name: Sending message
        run: node published_test/send-release-message.js
        env:
          DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
          DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
